In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [14]:
list_new1=[4,8,75,16,23,42]

In [15]:
ser=list_new1

In [16]:
pd.Series(ser)

0     4
1     8
2    75
3    16
4    23
5    42
dtype: int64

In [17]:
print(pd.Series(ser))

0     4
1     8
2    75
3    16
4    23
5    42
dtype: int64

In [18]:
pd.DataFrame(ser)

    0
0   4
1   8
2  75
3  16
4  23
5  42

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [26]:
list_new2=[1,2,3,4,5,6,7,8,9,10]

In [27]:
ser1=list_new2

In [28]:
pd.Series(ser1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [23]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]

In [24]:
df1=pd.DataFrame(data,columns=['Name','Age','Gender'])

In [25]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

In pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns), similar to a spreadsheet or SQL table. It can hold multiple columns, each potentially with a different data type (int, float, string, etc.).

A Series, on the other hand, is a one-dimensional array-like object that can hold any data type. It has a single column with an index.

In [30]:


# Series
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print("Series:\n", s)

# DataFrame
data = {
    'Name': pd.Series(['Alice', 'Bob', 'Charlie']),
    'Age': pd.Series([25, 30, 35])
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

Series:
 a    10
b    20
c    30
dtype: int64

DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common Pandas functions used to manipulate data:

head() / tail(): View first/last few rows

info(): Summary of DataFrame

describe(): Statistical summary

drop(): Remove rows or columns

fillna() / dropna(): Handle missing values

groupby(): Group and aggregate data

sort_values(): Sort data

apply(): Apply a function to rows/columns

Example: You might use fillna() when you're working with a dataset containing missing values:

In [31]:
df = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]})
df_filled = df.fillna(0)  
print(df_filled)

     A    B
0  1.0  4.0
1  2.0  0.0
2  0.0  6.0

Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

All three — Series, DataFrame, and Panel — are mutable in nature, meaning their values can be changed after creation.
However, it’s worth noting that Panel is deprecated in the latest versions of pandas and is rarely used.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
courses = pd.Series(['Math', 'Physics', 'Chemistry'])

# Creating DataFrame using Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Course': courses
})

print(df)

      Name  Age     Course
0    Alice   25       Math
1      Bob   30    Physics
2  Charlie   35  Chemistry