Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# 1. head() - Returns first n rows
print(df.head())

# 2. describe() - Summary statistics
print(df.describe())

# 3. info() - Metadata
print(df.info())

# 4. drop() - Drop rows/columns
print(df.drop('B', axis=1))

# 5. mean() - Mean of columns
print(df.mean())

   A  B
0  1  4
1  2  5
2  3  6
         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes
None
   A
0  1
1  2
2  3
A    2.0
B    5.0
dtype: float64

Q2. Re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
def reindex_df(df):
    df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
    new_index = list(range(1, 2*len(df)+1, 2))
    df.index = new_index
    return df

In [9]:
df

   A  B
0  1  4
1  2  5
2  3  6

Q3. Calculate the sum of the first three values in the 'Values' column.

In [13]:
def sum_first_three(df):
    result = df['Values'].head(3).sum()
    print("Sum of first three values:", result)

Q4. Create a new column 'Word_Count' from 'Text' column.

In [14]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size: Total number of elements in the DataFrame (rows Ã— columns).

DataFrame.shape: Tuple indicating (number of rows, number of columns).

In [15]:
df.size

6

Q6. Which function of pandas do we use to read an excel file?

In [18]:
'pd.read_excel(''file_name.xlsx'')'

'pd.read_excel(file_name.xlsx)'

Q7. Extract username from 'Email' column into new 'Username' column.

In [19]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

Q8. Select rows where column 'A' > 5 and 'B' < 10.

In [20]:
def filter_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

Q9. Calculate mean, median, and std of 'Values' column.

In [21]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std

Q10. Create a 'MovingAverage' column using 7-day window on 'Sales'.

In [22]:
def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

Q11. Add 'Weekday' column from 'Date' column.

In [23]:
def add_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

Q12. Select rows between '2023-01-01' and '2023-01-31'.

In [24]:
def filter_by_date(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

Q13. What is the first and foremost necessary library to import in pandas?

In [25]:
import pandas as pd