Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
#A database is a structured collection of data that allows storing, managing, and retrieving information efficiently.

#SQL (relational DB)
#structure = Tables(rows and columns)
#schema = fixed(predefiend schema)
#query language = SQL
#example = MySQL, PostgresSQL

#NoSQL (non-relational DB)
#structure = Documents, key-value, graphs
#schema = flexible
#Query language = JSON-like, varies by type
#example = mongoDB, Cassandra, Redis, Firebase

 Q2. What is DDL? Explain CREATE, DROP, ALTER, and TRUNCATE with an example.

In [2]:
#DDL stands for Data Definition language is used to degine or change the strucutre of database object like tables

#Create = Creates a new table
#CREATE TABLE students (id INT, name VARCHAR(50));

#DROP – Deletes a table permanently
#DROP TABLE students;

#ALTER – Modifies an existing table
#ALTER TABLE students ADD age INT;

#TRUNCATE – Deletes all data in a table (structure remains)
#TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
#DML stands for Data Manipulation Language. it is used to modify data in tables

#INSERT – Adds new data
#INSERT INTO students (id, name) VALUES (1, 'Anup');

#UPDATE – Changes existing data
#UPDATE students SET name = 'Anup Kumar' WHERE id = 1;

#DELETE – Removes data
#DELETE FROM students WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

In [4]:
#DQL stands for Data query language is used to fetch/query data from the database.

#SELECT = Retrieves Data
#SELECT * FROM students;


#we can also filter results:
#SELECT name FROM students WHERE age > 18;

Q5. Explain Primary Key and Foreign Key

In [11]:
#Primary Key: A unique identifier for each record in a table. It cannot be null or duplicate.
#example
#CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(50));


#Foreign Key: A key used to link two tables. It references the primary key of another table.
#example
"""CREATE TABLE marks (
  student_id INT,
  score INT,
  FOREIGN KEY (student_id) REFERENCES students(id)
);"""

'CREATE TABLE marks (\n  student_id INT,\n  score INT,\n  FOREIGN KEY (student_id) REFERENCES students(id)\n);'

#Write Python code to connect MySQL to Python. Explain

cursor() and execute()

In [9]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password = "my_password",
#     database="mydatabase"
# )


# cur = conn.cursor()

# cur.execute("SELECT * FROM students")

# for row in cur.fetchall():
#     print(row)
    

# conn.close()    


#Cursor() = creates a cursor object to execute SQL Queries.
#exectue() = Exectues a given SQL statement (e.g SELECT, INSERT)

Q7. Order of Execution of SQL Clauses in a Query

In [10]:
#THe logical Order in which SQL clauses are executed 

# 1. FROM
# 2. WHERE
# 3. GROUP BY
# 4. HAVING
# 5. SELECT
# 6. ORDER BY
# 7. LIMIT (or OFFSET)